div(class="container")
    section(class="masthead")
        h1(class="masthead__headline_level_1") From Web Designer to Full-Stack Developer
        p(class="masthead__text") My name is Steven Waters and I'm a full-stack developer with a passion for front-end development, UI, and UX. The languages I know best are HTML5, CSS3, JavaScript, and PHP.
    section(class="skills")
        h1(class="skills__headline__level__1") Skills
        ul(class="tablist")
            - var i = 0;
            each categoryObj, categoryName in skills
                li(class="tablist__tab")
                    - var classList = (i === 0) ? "tablist__tab__link tablist__tab__link--active" : "tablist__tab__link";
                    a(href="#tab-" + i, class= classList)= categoryName.charAt(0).toUpperCase() + categoryName.substr(1)
                - i++

        - var i = 0;
        each categoryObj, categoryName in skills
            - var classList = (i === 0) ? "tablist__tab__content tablist__tab__content--active" : "tablist__tab__content";
            div(id="tab-" + i, class= classList)
                h2(class="skills__headline__level__2")= categoryName.charAt(0).toUpperCase() + categoryName.substr(1)
                ul(class="skills-list")
                    each skillLevel, name in categoryObj
                        li(class="skills-list__heading")= name
                        li(class="skills-list__bar")
                            div(class="skills-list__rating", style="width:" + skillLevel + "%")
            - i++
    section(class="projects")
        h1(class="projects__headline__level__1") Recent Projects
        p(class="projects__text") (Alot of these are still a work in progress)
        div(class="projects__content")
            div(class="projects__project")
                img(class="project__screenshot", src="")
                div(class="project__meta")
                    p(class="project__description") Integer dignissim egestas turpis, vel iaculis ante viverra ac. Morbi dignissim nibh eu egestas vehicula. Aenean erat orci, dignissim sit amet lorem et, feugiat tincidunt lectus.
                    a(class="project__button", href="#", title="Link to Project 1") Visit CodePen &#187;
            div(class="projects__project")
                img(class="project__screenshot", src="")
                div(class="project__meta")
                    p(class="project__description") Integer dignissim egestas turpis, vel iaculis ante viverra ac. Morbi dignissim nibh eu egestas vehicula. Aenean erat orci, dignissim sit amet lorem et, feugiat tincidunt lectus.
                    a(class="project__button", href="#", title="Link to Project 2") Visit CodePen &#187;
            div(class="projects__project")
                img(class="project__screenshot", src="images/screenshots-resized/project-2.png")
                div(class="project__meta")
                    p(class="project__description") Integer dignissim egestas turpis, vel iaculis ante viverra ac. Morbi dignissim nibh eu egestas vehicula. Aenean erat orci, dignissim sit amet lorem et, feugiat tincidunt lectus.
                    a(class="project__button", href="#", title="Link to Project 2") Visit CodePen &#187;
            div(class="projects__project")
                img(class="project__screenshot", src="images/screenshots-resized/project-1.png")
                div(class="project__meta")
                    p(class="project__description") Integer dignissim egestas turpis, vel iaculis ante viverra ac. Morbi dignissim nibh eu egestas vehicula. Aenean erat orci, dignissim sit amet lorem et, feugiat tincidunt lectus.
                    a(class="project__button", href="#", title="Link to Project 3") Visit CodePen &#187;
    footer(class="footer")
        p(class="footer__text") Made with <span class="footer__heart">&#10084;</span> by Steven Waters. No frameworks or PNG images were harmed during the making of this website.
