div(class="container")
 section(class="intro")
    h1(class="intro__headline_level_1 gradient-1") From Web Designer to Full-Stack Developer
    p(class="intro__text") My name is Steven Waters and I'm a full-stack developer with a passion for front-end development, UI, and UX. The languages I know best are HTML5, CSS3, JavaScript, and PHP.
    section(class="skills")
        ul(class="pill__tabs")
            - var i = 0;
            each categoryObj, categoryName in skills
                li(class="pill__tabs__nav__item")
                    - var classList = (i === 0) ? "pill__tabs__nav__item__link pill__tabs__nav__item__link--active" : "pill__tabs__nav__item__link";
                    a(href="#tab-" + i, class= classList)= categoryName.charAt(0).toUpperCase() + categoryName.substr(1)
                - i++

        - var i = 0;
        each categoryObj, categoryName in skills
            - var classList = (i === 0) ? "pill__tabs__nav__item__content pill__tabs__nav__item__content--active" : "pill__tabs__nav__item__content";
            div(id="tab__content-" + i, class= classList)
                h2(class="skills__headline__level__2")= categoryName.charAt(0).toUpperCase() + categoryName.substr(1)
                ul(class="skills-list")
                    each skillLevel, name in categoryObj
                        li(class="skills-list__heading")= name
                        li(class="skills-list__bar")
                            div(class="skills-list__rating", style="width:" + skillLevel + "%")
            - i++