doctype html
html(lang="en")
    include head.pug
    body 
        section(class="hero is-dark has-text-centered")
            div(class="hero-body")
                div(class="container")
                    h1(class="title") Films
                    p(class="is-size-2 is-size-5-mobile") A collection of short films that I shot & edited.
        section(class="film-portfolio section")
            div(class="container")
                div(class="columns")
                    div(class="column piece is-12")
                        div(class="content")
                            h2(class="title is-2") Film Competition: Drone Disaster
                            p(class="description text") A short film that I made with friends for a film competition. The intro was made in Affter Effects and all of the other graphics were made in Photoshop. 
                            <a href="https://filmfreeway.com/FilmBuildCreatureFeature" class="button is-primary is-rounded">Watch</a>
                div(class="columns" style="flex-wrap: wrap")
                    div(class="column piece is-6")
                        div(class="content")
                            div(style='padding:75% 0 0 0;position:relative;')
                                iframe(src='https://www.youtube.com/embed/VvM4OVvBFQc', style='position:absolute;top:0;left:0;width:100%;height:100%;', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            h2(class="title is-2") Real Estate Video
                            p(class="description text") Interior scenes were shot with a Black Magic Camera and the exterior shots were shot with a DJI Phandtom Drone. The footage was edited in Adobe Premier. 
                    div(class="column piece is-6")
                        div(class="content")
                            div(style='padding:56.25% 0 0 0;position:relative;')
                                iframe(src='https://player.vimeo.com/video/132674188?byline=0&portrait=0', style='position:absolute;top:0;left:0;width:100%;height:100%;', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            h2(class="title is-2") Zoominations Videography
                            p(class="description text") Shot on a Black Magic Camera and edited in Adobe Premier. The Mandarin characters are a transaltion of the credit text.
                    div(class="column piece is-6")
                        div(class="content")
                            div(style='padding:75% 0 0 0;position:relative;')
                                iframe(src='https://player.vimeo.com/video/130702187?byline=0&portrait=0', style='position:absolute;top:0;left:0;width:100%;height:100%;', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            h2(class="title is-2") Abby &amp; Isaac: Flying a Kite
                            p(class="description text") Shot on a Black Magic Camera in Fall Creek Falls State Park in Tennessee and edited in Adobe Premier. The title cards and the vintage film clutter was made in Photoshop.
                    div(class="column piece is-6")
                        div(class="content")
                            div(style='padding:75% 0 0 0;position:relative;')
                                iframe(src='https://www.youtube.com/embed/6iixxqhT2nY', style='position:absolute;top:0;left:0;width:100%;height:100%;', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                            h2(class="title is-2") Pretend Guy Commercial Concept
                            p(class="description text") Shot on a cellphone for fun with a friend and edited in Adobe Premier.
        script(src='https://player.vimeo.com/api/player.js')
